#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Added By Ben */
.flex-container { /* Contains the 3 columns (options, original image, processed image) */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}

.column { /* Container for each column */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options { /* Options align to left instead of center */
  max-width: 20%;
  align-items: flex-start;
}

.image-box {
  max-width: 40%;
  margin-top: 20px;

  border: 3px solid #5f79ff;   /* Border */
  border-radius: 12px;      /* Rounds Corners */
  background-color: #515050; /* Background */

}

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  /*border: 30px solid #5f79ff;    Border */
  margin-bottom: 0px;
}
